{% extends 'base.html' %}

{% block content %}
<h2>Produtos</h2>

<form method="post">
    {% csrf_token %}
    <input type="text" name="nome" placeholder="Nome">
    <input type="number" name="preco" placeholder="Preço">
    <input type="number" name="quantidade" placeholder="Quantidade">
    <button type="submit">Cadastrar</button>
</form>

<div class="card">
    <h2>Lista de Produtos</h2>
    <table>
        <tr>
            <th>Nome</th>
            <th>Preço R$</th>
            <th>Quantidade</th>
            <th>Ações</th> </tr>
        {% for p in produtos %}
        <tr>
            <td>{{ p.nome }}</td>
            <td>{{ p.preco }} R$</td>
            <td>{{ p.quantidade }}</td>
            <td>
                <a href="{% url 'editar_produto' p.id %}" style="margin-right: 10px;">Editar</a>
                <a href="{% url 'deletar_produto' p.id %}" style="color: red;" onclick="return confirm('Deseja excluir este produto?')">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}