{% extends 'base.html' %}

{% block content %}
<h2>Produtos</h2>

<form method="post">
    {% csrf_token %}
    <input type="text" name="nome" placeholder="Nome">
    <input type="number" name="preco" placeholder="Preço">
    <input type="number" name="quantidade" placeholder="Quantidade">
    <button type="submit">Cadastrar</button>
</form>

<div class="card">
    <h2>Lista de Produtos</h2>
    <table>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
        </tr>
        {% for p in produtos %}
        <tr>
            <td>{{ p.nome }}</td>
            <td>{{ p.preco }}</td>
            <td>{{ p.quantidade }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}